/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.container{
	width: 876px;
	margin: 0 auto;
}
/* Style for the header */
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 35px;
}

header nav a{
	margin: 0 25px;
	color: silver;
	text-decoration: none;
	
}

/*Style for the intro section */
.intro{
	display: flex;
	justify-content: space-around; 
	align-items: center;
	border-bottom: 1px solid black;
	padding-top: 50px;
	padding-bottom: 50px;
}

.button1{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 30px;
	border: 1px solid black;
	margin-left: 80px;
	font-size: 15px;
}

.introtext{
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 80px;
	text-align: center;
}

/** Style for the features and about section, image, and servcies products vision **/
.content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: space-between;
	padding-top: 20px;
}

.contentpt1{
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
}

.contentpt2{
	display: flex;
	justify-content: center;
	padding-top: 40px;
}

.contentpt3{
	display: flex;
	justify-content: space-between;
	padding-top: 40px;
}

.services, .product, .vision{
	width: 33%;
}

/** Style for contact **/
.contact{
	margin-top: 50px;
	border-top: 1px solid black;
}


/** Style for footer **/
footer{
	padding-top: 50px;
	text-align: center;
}

/** CSS STYLING FOR SECOND PAGE **/

.container2{
	width: 900px;
	margin: 0 auto;
}


/** styling for header **/
.container2 header{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 35px;
}
.sec1{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 35px;
}

.sec1 nav{
	width: 880px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: -10px;
}

.container2 header nav a{
	/*margin: 0 25px;*/
	color: silver;
	text-decoration: none;	
}

.sec2{
	padding-bottom: 30px;
}
/* styling for services */

.service2{
	width: 880px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 10px;
	line-height: 140%;
	padding-bottom: 30px;
	border-bottom: 1px solid black;
}

/* Styling for all the toggle boxes */

#learnmore{
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: space-between;
	border-bottom: 1px solid black;
	padding-bottom: 30px;
}

.digitaldesign, .uxui, .digimarket, .webdev, .ios, .android{
	display: flex;
	width: 45%;
	padding: 15px;
	border: 1px solid black;
	background-color: whitesmoke;
	padding-bottom: 30px;
	line-height: 125%;
	margin: 15px 15px;
}

.box1, .box2, .box3, .box4, .box5, .box6{
	box-sizing: border-box;
	line-height: 130%;
}

.box1, .box2, .box3, .box4, .box5, .box6 p{
	line-height: 130%;
}

.box1 button, .box2 button, .box3 button, .box4 button, .box5 button, .box6 button{
	margin-top: 25px;
	color: black;
	background-color: white;
	padding:10px 30px;
	border-radius: 5px;
	border-color: black;
}

/* Styling for the service facts section */

#servicefacts{
	width: 880px;
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
}

.somefacts{
	width: 47%;
}

.somefacts p{
	line-height: 140%;
}

ul{
	margin-left: 20px;
	list-style-type: square;
	line-height: 160%;
}	
@media (max-width: 800px){
    *{
        width: 100%;
    }
    .top{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .navbar{
        display: flex;
        justify-content: space-around;
    }
    .logopic{
        display: flex;
        justify-content: center;
    }
    .right{
        display: none;
    }
    .headerwithbutton{
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    button{

    }
    footer{
       display: flex;
       justify-content: center;
    }
}

@media (max-width: 500px){

}